@use "vars" as *;

.main {
  padding: 0;
  margin-top: -2px;
}
.header {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}
.paddedH {
  padding: 0 $layout-padding-h;
}
.postList {
  display: flex;
  flex-direction: column;
  gap: $layout-padding;

  @include layout-bp-s {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 1fr;
  }
}
.thumbnail {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  height: 50vh;
  border: 2px solid $colour-text;

  img {
    object-fit: cover;
  }
}
.content {
  padding: $layout-padding;
  position: relative;

  .meta {
    margin-bottom: $layout-padding-v * 4;
  }

  img {
    width: 100%;
    border: 2px solid $colour-text;
  }

  p:not(:has(img)) {
    height: fit-content;
    padding-right: calc(100% - 80ch);
  }

  pre {
    border: 2px solid $colour-text;
  }

  @include layout-bp-s {
    max-width: 50rem;
    margin-left: auto;
  }
}
