@use "vars" as *;
@use "sass:math";

html,
body {
  margin: 0;
  font-size: 16px;
}
body {
  background-color: $colour-background;
  color: $colour-text;

  min-height: 100vh;
  display: flex;
  flex-direction: column;

  font-family: $font-Body;
}
main,
footer,
section {
  box-sizing: border-box;
  width: $layout-page-width;
  max-width: $layout-page-max-width;
  margin: $layout-page-margin;
  padding: $layout-padding;
}
footer {
  border-top: 2px solid $colour-text;
  @include layout-bp-s {
    margin-bottom: $layout-footer-margin;
    border: 2px solid $colour-text;
  }
}
#footer-wrapper {
  margin-top: auto;
}
h1,
h2 {
  font-family: $font-Header;
}
h1 {
  font-size: 2rem;
}
h2 {
  font-size: 1.5rem;
}
