@use "vars" as *;

html,
body {
  margin: 0;
  font-size: 16px;
}
body {
  background-color: $colour-background;
  color: $colour-text;

  min-height: 100vh;
  display: flex;
  flex-direction: column;

  font-family: $font-Body;
}
main,
footer,
#main-navbar,
section {
  box-sizing: border-box;
  width: $layout-page-width;
  max-width: $layout-page-max-width;
  margin: $layout-page-margin;
  padding: $layout-padding;
}
footer {
  border-top: 2px solid $colour-text;
  @include layout-bp-s {
    margin-bottom: $layout-footer-margin;
    border: 2px solid $colour-text;
  }
}
#footer-wrapper {
  margin-top: auto;
}
#main-navbar {
  border-bottom: 2px solid $colour-text;
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  gap: $layout-padding-h;

  .spacer {
    flex-grow: 10;
  }
  .logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: $layout-padding-h / 2;

    .logo-text {
      display: none;

      @include layout-bp-s {
        display: block;
      }
    }

    .logo-img {
      position: relative;

      width: auto;
      height: 2rem;
      box-sizing: border-box;

      img {
        object-fit: contain;
        width: auto;
        height: 100%;
      }
    }
  }

  a {
    color: $colour-text;
    font-weight: bold;
    text-decoration: none;
    font-family: $font-Header;

    &.active {
      text-decoration: underline;
    }
  }

  @include layout-bp-s {
    border: 2px solid $colour-text;
  }
}
#main-navbar-wrapper {
  background-color: $colour-background;
  position: sticky;
  top: 0px;
  z-index: 100;

  @include layout-bp-s {
    padding-top: $layout-navbar-margin;
  }
}
h1,
h2 {
  font-family: $font-Header;
}
h1 {
  font-size: 2rem;
}
h2 {
  font-size: 1.5rem;
}
