@use "vars" as *;
.main,
.unpadded {
  padding: $layout-padding-v 0 !important;
}
.main {
  padding: $layout-padding-v 0;
}
.paddedH {
  padding: 0 $layout-padding-h;
}
.topPosts,
.topWork {
  display: flex;
  flex-direction: column;
  gap: $layout-padding;

  @include layout-bp-s {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 1fr;
  }

  & > * {
    grid-column-end: span 1;
  }
}
