@use "./vars" as *;

.searchbox {
  display: flex;
  width: 100%;
  @include layout-bp-s {
    width: auto;
  }
}

.searchbar {
  background-color: $colour-background;
  padding: 0.5em 1em;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px $colour-text solid;
  width: 100%;
}

.button {
  cursor: pointer;
  background-color: $colour-background;
  border: 2px $colour-text solid;
}
