$padding-h: 2rem;
$padding-v: 1rem;
$padding: $padding-v $padding-h;

$page-width: 100%;
$page-max-width: 1280px;
$page-margin: auto;

$footer-margin: 4rem;
$navbar-margin: 4rem;

$breakpoint-s: 360px;
