$padding-h: 2rem;
$padding-v: 1rem;
$padding: $padding-v $padding-h;

$page-width: 100%;
$page-max-width: 1280px;
$page-margin: auto;

$footer-margin: 2rem;
$navbar-margin: 2rem;

$breakpoint-s: 600px;

@mixin bp-s {
  @media screen and (min-width: $breakpoint-s) {
    @content;
  }
}
